<div class="container-fluid mb-4 content">
  <div class="row justify-content-start my-4 d-flex">
    <h6>Filtrar por</h6>
    <div class="col-md-3">
      <select class="form-select" (change)="filterTasks()" [(ngModel)]="filter">
        <option value="all" selected>Todas</option>
        <option value="completed">Tareas Completadas</option>
        <option value="pending">Tareas Pendientes</option>
      </select>
    </div>
  </div>

  <div class="row">
    <ng-container *ngIf="tasks.length > 0; else emptyData;">
      <div class="col-12 col-sm-6 col-md-4" *ngFor="let task of tasks">
        <div class="card mb-3">
          <div class="card-body p-0">
            <div class="title-card px-3 pt-3">
              <h5 class="card-title" [ngClass]="task.completed ? 'completed': 'pending'">{{ task.taskName }} / {{task.completed ? 'Realizada' : 'Pendiente' }}</h5>
              <h6 class="card-subtitle mb-4" [ngClass]="task.completed ? 'completed': 'pending'"><strong>Fecha Límite:</strong> {{ task.taskDate }}</h6>
            </div>
            <hr>
            <div class="px-3" *ngFor="let person of task.people">
              <strong>Nombre:</strong> {{ person.name }} <br>
              <strong>Edad:</strong> {{ person.age }} <br>
              <strong>Habilidades:</strong>
              <span *ngFor="let skill of person.skills"> {{ skill.nameSkill }}
                <span *ngIf="skill !== person.skills[person.skills.length - 1]">, </span>
              </span>
              <hr>
            </div>

            <div class="d-flex justify-content-between mt-3 px-3 pb-3">
              <div class="col-md-4">
                <button class="btn btn-danger" (click)="deleteTask(task)">Borrar</button>
              </div>
              <div class="col-md-4" *ngIf="!task.completed" >
                <button class="btn btn-success" (click)="completedTask(task)">Completar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #emptyData>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">No Hay Tareas Disponibles</h5>
        <p class="card-text">
          Por favor agrega una tarea
        </p>
      </div>
    </div>
  </div>
</ng-template>
