:root {
  --background-color: rgba(35, 47, 108, 0.25);
  --color: white;
  --color-second: black;
  --primary-color: rgb(20, 29, 56);
  --secondary-color: rgb(66, 186, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
