:root {
  --background-color: rgb(33, 31, 59);
  --color: white;
  --color-second: black;
  --primary-color: rgb(33, 30, 59);
  --secondary-color: rgb(14, 178, 232);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Custom Input */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 4px;
    font-size: 14px;
  }

  input {
    height: 50px;
    padding: 8px 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  input:focus {
    border-color: rgba(66, 186, 255, 0.2);
    box-shadow: 0 0 0 3px rgba(66, 186, 255, 0.2);
    outline: none;
  }

  .error-message {
    margin-top: 5px;
    margin-left: 8px;
    font-size: 14px;
    color: #e53935;
  }
}

.btn{
  border: none;
  border-radius: 24px;
  font-size: 15px;
  padding: 6px 20px;
}

.btn-primary {
  background-color: var(--secondary-color);

  &:hover{
    background-color: rgb(10, 144, 188);
  }
}

